@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #FDFCF8;
  --green: #1D3A36;
}

html {
  scroll-behavior: smooth;
  font-family: 'Open Sans', sans-serif;
}

body {
  background-color: var(--bg);
  color: var(--green);
}
